<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>neuroflow Service</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/image_output_style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="/index"><span class="fw-bolder text-primary">Neuroflow</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service/photo" methods="GET">service start</a></li>
                    <!--                            <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>-->
                    <!--                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
<div class="wrap">
    <div class="box"><img class="test-image" th:src="'data:image/jpeg;base64,'+ ${client_image}"/></div>
    <div class="middle-box">
        <table class="middle-table">
            <tr>
                <td><img class="client-left-eye" th:src="'data:image/jpeg;base64,'+ ${jsonObject.get('leftEye').image}"/></td>
                <td><h6 th:text ="${jsonObject.get('leftEye').score}"></h6></td>
                <td><h4 th:text ="${jsonObject.get('leftEye').wannabeName}"></h4></td>
                <td><img class="wannabe-left-eye" th:src="'data:image/jpeg;base64,'+ ${wannabeLandmarkImage.get('leftEye')}"/></td>
            </tr>
            <tr>
                <td><img class="client-right-eye" th:src="'data:image/jpeg;base64,'+ ${jsonObject.get('rightEye').image}"></td>
                <td><h6 th:text ="${jsonObject.get('rightEye').score}"></h6></td>
                <td><h4 th:text ="${jsonObject.get('rightEye').wannabeName}"></h4></td>
                <td><img class="wannabe-right-eye" th:src="'data:image/jpeg;base64,'+ ${wannabeLandmarkImage.get('rightEye')}"/></td>
            </tr>
            <tr>
                <td><img class="nose" th:src="'data:image/jpeg;base64,'+ ${jsonObject.get('nose').image}"></td>
                <td><h6 th:text ="${jsonObject.get('nose').score}"></h6></td>
                <td><h4 th:text ="${jsonObject.get('nose').wannabeName}"></h4></td>
                <td><img class="wannabe-nose" th:src="'data:image/jpeg;base64,'+ ${wannabeLandmarkImage.get('nose')}"/></td>
            </tr>
            <tr>
                <td><img class="lips" th:src="'data:image/jpeg;base64,'+ ${jsonObject.get('lips').image}"></td>
                <td><h6 th:text ="${jsonObject.get('lips').getScore()}"></h6></td>
                <td><h4 th:text ="${jsonObject.get('lips').wannabeName}"></h4></td>
                <td><img class="wannabe-lips" th:src="'data:image/jpeg;base64,'+ ${wannabeLandmarkImage.get('lips')}"/></td>
            </tr>
        </table>
    </div>
    <div class="box"><img class="wannabe-image" th:src="'data:image/jpeg;base64,'+ ${most_similarity_wannabe_image}"/></div>
</div>

    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <!--                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>-->
                <!--                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>-->
            </div>
        </div>
    </section>
</main>
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; Neuroflow</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>
